[submodule "Diamond/vendor/spdlog"]
	path = Diamond/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Diamond/vendor/GLFW"]
	path = Diamond/vendor/GLFW
	url = https://github.com/BergrosGigja/glfw
