[submodule "Diamond/vendor/spdlog"]
	path = Diamond/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Diamond/vendor/GLFW"]
	path = Diamond/vendor/GLFW
	url = https://github.com/BergrosGigja/glfw
[submodule "Diamond/vendor/imgui"]
	path = Diamond/vendor/imgui
	url = https://github.com/BergrosGigja/imgui
[submodule "Diamond/vendor/glm"]
	path = Diamond/vendor/glm
	url = https://github.com/g-truc/glm
